<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Luminstep Website{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.5.0/remixicon.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
</head> 
<body>
    <!--header and navbar-->
    <header>
        <nav class="navbar section-content">
            <a href="#" class="nav-logo">
                <h2 class="logo-text">LumiNstep.</h2>
            </a>
            <ul class="nav-menu">
                <button id="menu-close-button" class="fas fa-times"><i class="ri-close-large-line"></i></button>
                <li class="nav-item">
                    <a href="/" class="nav-item nav-link {% if request.path == '/' %}active{% endif %}">Home</a>
                   
                </li>
                <li class="nav-item">
                    <a href="/about" class="nav-item nav-link {% if request.path == '/about' %}active{% endif %}">About us </a>
                   
                </li>
                <li class="nav-item">
                    <a href="/service" class="nav-item nav-link {% if request.path == '/service' %}active{% endif %}">Services</a>
                
                </li>
                <li class="nav-item">
                    <a href="/team" class="nav-item nav-link {% if request.path == '/team' %}active{% endif %}">Team</a>
                   
                </li>
                <li class="nav-item">
                    <a href="/terms" class="nav-item nav-link {% if request.path == '/service' %}active{% endif %}">Terms</a>
                    
                </li>
                <li class="nav-item">
                    <a href="/contact" class="nav-item nav-link {% if request.path == '/contact' %}active{% endif %}">Contact us </a>
               
                </li>
             
               
            </ul>
                 <!-- Login Button -->
                 <a href="{{ url_for('login') }}" class="login-button">Login</a>
            <button id="menu-open-button" class="fas fa-bars"><i class="ri-menu-line"></i></button>
        </nav>
        </header>
        <div class="contactSection">
            <main class="row">
                <section class="col left">
                    <div class="contactTitle">
                        <h2 class="section-title">Contact Us</h2>
                    </div>
                    
                </section>
              
                <section class="col right">
                       <!-- Snackbar Notification -->
    {% if message %}
    <div id="snackbar">{{ message }}</div>
    <script>
        var snackbar = document.getElementById("snackbar");
        snackbar.className = "show"; // Add the "show" class to display the snackbar
        setTimeout(function(){
            snackbar.className = snackbar.className.replace("show", ""); // After 3 seconds, hide the snackbar
        }, 3000);
    </script>
{% endif %}

                    <form method="post">
                    <div class="messageForm">
                        <div class="inputGroup halfwidth">
                            <input type="text" name="name" id="name" required="required">
                            <label for="name">Your Name</label>
                        </div>
                        <div class="inputGroup halfwidth">
                            <input type="email" name="email" id="email" required="required">
                            <label for="email">Your Email</label>
                        </div>
                        <div class="inputGroup fullwidth">
                            <input type="text" name="subject" id="subject" required="required">
                            <label for="subject">Subject</label>
                        </div>
                        <div class="inputGroup fullwidth">
                            <textarea required="required" id="message" name="message"></textarea>
                            <label for="message">Message</label>
                        </div>
                        <div class="inputGroup fullwidth">
                            <button type="submit">Send Message</button>
                        </div>
                    </div>
                    </form>
    
                </section>
            </main>
            
        </div>
 


       <!--footer section-->
<footer class="footer-section">
    <div class="section-content">
        <!-- Company Logo and Name -->
        <div class="logo-and-name">
           <h1>Luminstep.</h1>
            <p class="company-name">Luminstep</p>
        </div>

        <!-- Navigation Links -->
        <div class="footer-nav">
           
            <a href="/" class="footer-link">Home</a>
            <a href="/about" class="footer-link">About </a>
            <a href="/service" class="footer-link">Services</a>
            <a href="/terms" class="footer-link">Terms</a>
            <a href="/team" class="footer-link">Team</a>
            <a href="/contact" class="footer-link">Contact</a>
        </div>

        <!-- Copyright and Social Links -->
        <div class="copyright-and-social">
            
            <div class="social-link-list">
                <a href="#" class="social-link"><i class="ri-linkedin-line"></i></a>
                <a href="#" class="social-link"><i class="ri-mail-line"></i></a>
            </div>
            <p class="copyright-text"> <i class="ri-copyright-line"></i> 2024 Luminstep.</p>
        </div>
        
        
    </div>
</footer>

        </main>
        
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>